[submodule "Frameworks/UICKeyChainStore"]
	path = Frameworks/UICKeyChainStore
	url = https://hub.fastgit.org/kishikawakatsumi/UICKeyChainStore.git
[submodule "Frameworks/ios_system"]
	path = Frameworks/ios_system
	url = https://hub.fastgit.org/holzschu/ios_system.git
[submodule "Frameworks/MBProgressHUD"]
	path = Frameworks/MBProgressHUD
	url = https://hub.fastgit.org/blinksh/MBProgressHUD.git
